.projects {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  &__title {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .project {
    &__img {
      position: relative;
      & img {
        width: 100%;
        height: auto;
        display: block;
        cursor: pointer;
      }
      &:hover .overlay {
        opacity: 0.75;
      }
      .overlay {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: black;
        & .text {
          color: white;
          font-size: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;
        }
      }
    }
    &__container {
      padding: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr 1fr;
    &__title {
      grid-column-end: 3;
    }
  }
}

@media screen and (max-width: 580px) {
  .projects {
    grid-template-columns: 1fr;
    &__title {
      grid-column-end: 2;
    }
    .project__container {
      padding: 50px;
    }
  }
}
