@import "./navigation";
@import "./hero";
@import "./footer";
@import "./banner";
@import "./button";
@import "./about";

*,
*::before,
*::after {
  box-sizing: border-box;
}

section {
  padding: 25px 0;
}

body {
  font: 500 16px Montserrat;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: auto;

  & h1 {
    font-size: 30px;
  }
}


@media screen and (max-width: 768px) {

  body,
  html {
    overflow-x: hidden;
  }


}

@keyframes navItemsFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}